PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_USER=movieapp
DB_PASSWORD=movieapp123
DB_NAME=movie_recommend

SPARK_SUBMIT=spark-submit
SPARK_MASTER=local[*]
PYSPARK_PYTHON=python3
HDFS_RATINGS=/user/fsl/movie_recommend/ratings.txt

ADMIN_PASSWORD=123456
